:root {
  --light: #c1c7e0;
  --dark: #05051f;
  --accent: #fffc00;
  --tint: #8b88f9;
}

::selection {
  background-color: var(--tint);
  color: var(--dark);
}

body {
  font-family: Lato, Roboto, sans-serif;
  accent-color: var(--tint);
}

p {
  margin: .5em 0;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  text-shadow: rgba(0, 0, 0, .3) .01em .01em .1em;
}

h4 {
  margin: 1em 0;
}

a {
  color: var(--tint);
  text-underline-offset: .25em;
  text-decoration-thickness: .1em;

  &:hover {
    opacity: .8;
  }
}

i, em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

summary {
  cursor: pointer;
}

svg {
  vertical-align: middle;
}
