@import url("/styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --light: #d1c8bc;
  --dark: #0a0a2a;
  --accent: #fffc00;
}

@keyframes background-change {
  from { background-color: var(--light); }
  10% { background-color: var(--light); }
  90% { background-color: var(--dark); }
  to { background-color: var(--dark); }
}

@keyframes image-hide {
  to { transform: translateY(-5em); }
}

@keyframes image-slide-from-left {
  from { transform: translateX(-20%) }
  to { transform: translateX(0) }
}

@keyframes image-slide-from-right {
  from { transform: translateX(20%) }
  to { transform: translateX(0) }
}

/* Base */

body {
  font-family: Lato, Roboto, sans-serif;
  font-size: 18px;
}

a {
  color: var(--accent);
  text-underline-offset: .25em;
  text-decoration-thickness: .1em;
}

p {
  padding: .5em 0;
  line-height: 1.2;
}

i {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

/* Page */

.coat {
  padding-top: 3rem;
  background: var(--dark);
  color: var(--light);
  animation: background-change linear;
  animation-timeline: view();
}

.dream {
  margin: 50px auto;
  max-width: 400px;
  font-size: 2rem;
  color: var(--accent);
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.dream__title {
  display: flex;
  flex-direction: column;
}

.dream__line {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  position: relative;
}
.dream__line:nth-of-type(3) { margin: -.5em 0 3em 0; }

.dream__the {
  text-decoration: underline;
  text-underline-offset: .25em;
  text-decoration-thickness: .1em;
}

.dream__letter {
  display: inline-block;
  position: relative;
  padding: .15em;
  font-size: 2.5em;
}
.dream__letter:nth-child(1) { top: 0; }
.dream__letter:nth-child(2) { top: .2em; }
.dream__letter:nth-child(3) { top: .4em; }
.dream__letter:nth-child(4) { top: .6em; }
.dream__letter:nth-child(5) { top: .8em; }
.dream__letter:nth-child(6) { top: 1em; }

.dream__subtitle {
  position: relative;
  margin: 5em 0;
  font-size: .8em;
}

.dream__img {
  position: absolute;
  height: auto;
  animation: image-hide linear;
  animation-timeline: view();
}
.dream__img--moon {
  top: 6em;
  left: -20px;
  width: 300px;
}

.dream__img--flower1 {
  top: 2em;
  left: 0;
  width: 300px;
}

.dream__img--pink-suit {
  top: 8em;
  left: -1em;
  width: 300px;
}

.dream__img--baloon1 {
  top: 0;
  right: -10px;
  width: 100px;
}

.dream__img--baloon2 {
  top: 3em;
  right: 3em;
  width: 150px;
}

.dream__img--paper-bird {
  top: 12em;
  right: 5px;
  width: 150px;
}

.dream__img--bulb {
  top: 7em;
  right: 1em;
  width: 100px;
}

.dream__img--flower2 {
  top: 6em;
  right: 1em;
  width: 100px;
}

.dream__img--cloud1 {
  top: 2em;
  right: 1em;
  width: 150px;
}

.dream__img--cloud2 {
  top: 14em;
  left: -1em;
  width: 169px;
}

.dream__img--fish {
  top: 8em;
  right: 5em;
  width: 150px;
}


.content {
  max-width: 400px;
  margin: 1em auto;
  padding: 1em;
}

.pairs {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
}

.pairs__illustration {
  flex: .75;
  position: relative;
  padding-right: 1em;
  max-width: 200px;
}

.pairs__text {
  flex: 1;
  padding: 1em;
  max-width: 400px;
}

.pairs__img {
  width: 100%;
  height: auto;
  animation: auto ease-in-out both;
  animation-timeline: --revealing-image;
  animation-range: entry 25% cover 50%;
}

.pairs__illustration:first-child .pairs__img {
  width: 120%;
  margin-left: -20%;
  animation-name: image-slide-from-left;
}
.pairs__illustration:last-child .pairs__img {
  width: 120%;
  margin-right: -20%;
  animation-name: image-slide-from-right;
}

.pairs__title {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 1em;
  color: var(--accent);
}
